body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px
}

.meimg {
    width: 200px;
}

.card {
    background: rgb(165, 211, 238);
    display: flex;
    justify-content: space-around;
    margin: 0px auto 0px auto;
    width: 400px;
    padding: 20px;

    text-align: center;
}

.border-blue {
    border-bottom: 10px solid rgb(167, 136, 255);



}